<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>
<table class="table">
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('city')">City</th>
      <th (click)="sort('orderTotal')">Order Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of filteredCustomers">
      <td>{{customer.name | capitalize}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.orderTotal | currency:currencyCode:'symbol'}}</td>
    </tr>
    <tr *ngIf="filteredCustomers.length">
      <td colspan="2">Total</td>
      <td>{{customersOrderTotal | currency:currencyCode:'symbol'}}</td>
    </tr>
    <tr *ngIf="!filteredCustomers.length">
      <td colspan="4">No customers found</td>
    </tr>
  </tbody>
</table>
<div>Number of Customers: {{filteredCustomers.length}}</div>
