<app-filter-textbox></app-filter-textbox>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Order Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of filteredCustomers">
      <td>{{customer.name}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.orderTotal}}</td>
    </tr>
    <tr *ngIf="filteredCustomers.length">
      <td colspan="2">Total</td>
      <td>{{customersOrderTotal}}</td>
    </tr>
    <tr *ngIf="!filteredCustomers.length">
      <td colspan="4">No customers found</td>
    </tr>
  </tbody>
</table>
<div>Number of Customers: {{filteredCustomers.length}}</div>
